{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block content %} 

	
	<div class="dashboard-out-block">
		<div class="dashboard-inner-block" ng-controller="dashboard-content-block" ng-init="{{nowPage}}='nowShow'">
				<!-- include aside bar content -->
				{% include "memberTopMenu/menu.html" with nowPage='backenPage' %}
			<div class="dashboard-inner-content">
				<section>
					<header><h4>後台管理-首頁</h4></header>
					<div class="dashboard-inner-left-block">
						<ul>
							<li>
								
							</li>
						</ul>
					</div>
				</sectiion>
				<aside>
					<header><h5>飼主相關連結</h5></header>
					<div class="dashboard-inner-right-block">
						<ul>
							<li>
								<a href="/profile/{{memberQuery.account}}">
									<img class="avatar" src="/static/img/member/dashboard/{{memberQuery.pic}}" alt="{{memberQuery.account}}" title="{{memberQuery.account}}">
									<p>{{memberQuery.account}}</p>
								</a>
							</li>
							<li>
								<a href=""><i class="user big icon"></i><span>檢視帳號資料</span></a>
								<i class="right arrow large icon right-icon"></i>
							</li>
							<li>
								<a href="/setProfile"><i class="setting big icon"></i><span>設定飼主頁面</span></a>
								<i class="right arrow large icon right-icon"></i>
							</li>
							<li>
								<a href="/search"><i class="search big icon"></i><span>搜尋寵物照片</span></a>
								<i class="right arrow large icon right-icon"></i>
							</li>
							<li>
								<a href="/comment"><i class="comment big icon"></i><span>最新留言訊息</span></a>
								<i class="right arrow large icon right-icon"></i>
							</li>
							<li>
								<a href="popular"><i class="thumbs up big icon"></i><span>寵物照的推薦</span></a>
								<i class="right arrow large icon right-icon"></i>
							</li>
						</ul>
					</div>					
				</aside>
			</div>
		</div>

	</div>

{% endblock %}