{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block content %} 
	
	<div class="dashboard-out-block">
		<div class="dashboard-inner-block" ng-controller="dashboard-content-block" ng-init="{{nowPage}}='nowShow'">
				<!-- include aside bar content -->
				{% include "memberTopMenu/menu.html" %}
			<div class="dashboard-inner-content">
				<section>
					<header><h4>瀏覽上傳照片</h4></header>
					<div class="dashboard-myPhoto-block">
						{% if photosQuery %}
							{% for value in photosQuery %}
								<div class="myPhoto-content">
									<a href=""><img src="/static/img/photo/small/{{value.photo_filename}}" ></a>
									<button class="ui primary button" ng-click="deletePhoto({{value.id}}, '{{value.photo_filename}}')">
										<i class="trash icon"></i>刪除
									</button>
								</div>
							{% endfor %}
							{% csrf_token %}
						{% else %}
							<div class="dashboard-noMyPhoto-content">
								<i class=" attention icon"></i>尚未上傳任何寵物照片, 現在...					
								<p>
									<a href="/shareMyPhoto">
										<button class="ui second button">
											<i class="photo icon"></i>立即分享
										</button>
									</a>
								</p>
							</div>
						{% endif %}
					</div>
				</section>
			</div>
		</div>
	</div>

{% endblock %}