{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{request.session.user}} {{topTitle}}{% endblock %}

{% block content %} 
	
	<div class="dashboard-out-block">
		<div class="dashboard-inner-block" ng-controller="dashboard-content-block" ng-init="{{nowPage}}='nowShow'">
				<!-- include aside bar content -->
				{% include "memberTopMenu/menu.html" %}
			<div class="dashboard-inner-content">
				<section>
					<header><h4></h4></header>

				</section>
			</div>
		</div>

	</div>

{% endblock %}