	<nav>
		<div class="site-Menu-Block">
			<i class=" reorder big icon site-Menu"></i>
			<p><i class=" left arrow icon" title="導覽"></i>選單</p>
		</div>
		<section>
			<div class="ui sidebar site-Menu-Content" ng-controller="aside-bar-block" ng-init="{{nowPage}}='menuShow'">
				<header><h5><i class=" map large icon"></i>爪 爪 窩 導 覽</h5></header>
				<ul>
					{% if request.session.user %}
					<li><a href="/dashboard/{{request.session.user}}"><span class="member" title="{{request.session.user}}">{{request.session.user}}</span><p>飼主後台區</p></a></li>
					{% else %}
					<li><a href="/login"><i class=" sign in big icon"></i>登入爪爪窩</a></li>
					{% endif %}
					<li ng-class="homePage"><a href="/home"><i class=" home big icon"></i>爪爪窩首頁</a></li>
					<li ng-class="categoriesPage"><a href="/categories"><i class=" unhide big icon"></i>寵物的種類</a></li>
					<li ng-class="newPage"><a href="/new"><i class=" bolt  big icon"></i>最新寵物照</a></li>
					<li ng-class="popularPage"><a href="/popular"><i class=" thumbs up outline  big icon"></i>人氣寵物照</a></li>
					<li><a href="/share"><i class=" photo big icon"></i>分享寵物照</a></li>
					<li><a href="javascript: void(0)"><i class=" search big icon"></i>搜尋寵物照</a></li>
				</ul>
			</div>
		</section>
	</nav>