
//image load
@mixin bg($img, $path:" ", $repeat:no-repeat)
	@if $path != " "
		$img: #{$path}/#{$img}

	background: image-url($img)
	background-repeat: $repeat

//html tag position and level set
@mixin ft($position, $level:" ")
	@if $level != " "
		z-index: $level
	position: $position

//layout width and height
@mixin wh($w, $h)
	width: $w
	height: $h

//layout max width and height
@mixin m-wh($w, $h)
	max-width: $w
	max-height: $h

//font set
@mixin font($size:1em, $weight:normal, $style:" ")
	font-size: $size
	font-weight: $weight
	@if $style != " "
		font-style: $style

@mixin ts($set)
	@include text-shadow($set)

//border radius
@mixin radius($value, $direct:" ")
	@if $direct != " "
		@if $direct == 'right'
			+border-right-radius($value)
		@if $direct == 'left'
			+border-left-radius($value)
		@if $direct == 'top'
			+border-top-radius($value)
		@if $direct == 'bottom'
			+border-bottom-radius($value)
	@else
		+border-radius($value)

//Gradient background color
@mixin gt($top, $center, $bottom)
	+background-image(linear-gradient($top, $center, $bottom))

//trangle 
@mixin tle($direct, $color, $width, $height)
	+wh(0,0)
	border-style: solid
	border-color: transparent transparent $color transparent

	@if $direct == 'top'
		border-width: 0 $width $height $width
	@if $direct == 'bottom'
		border-width: $height $width 0 $width
	@if $direct == 'left'
		border-width: $width $height $width 0
	@if $direct == 'right'
		border-width: $width 0 $width $height


	
