
html
	+wh(100%, 100%)
	+ft($ab)

	body
		margin: 0 auto
		+ft($re)
		+wh(100%, 100%)
		+susy-grid-background
		
		.hide-title
			display: none

		.container
			height: 100%
			+at-breakpoint($phone)
				+container
				+span-columns(9)
			+at-breakpoint($pad)
				+container
				+span-columns(12)
			+at-breakpoint($pc)
				+container
				+span-columns(15)

			.fullscreen-mask
				background-color: #141414
				@include transition(opacity 1s)
				@extend .str-to-img
				+wh(100%, 100%)
				+opacity(0.1)
				+ft($ab, 997)

			.change-mask
				+opacity(0.5)
				z-index: 998

			.fullscreen-main
				+ft($ab, 1)
				+wh(100%, 100%)
				+animate(fadeIn)
				@extend .str-to-img
				@include transition(all 1s)
				background-color: $slb
				
				+bg('mainbg_phone.jpg', 'background/main')			
				+at-breakpoint($pad)
					+bg('mainbg_pad.jpg', 'background/main')
				+at-breakpoint($pc)
					+bg('mainbg_pc.jpg', 'background/main')
				
			.search-block
				+ft($re, 998)
				top: 3em
				float: right
				input
					@include transition(opacity 1s)
					+opacity(0.3)
					&:focus, &:active
						@include transition(opacity 1s)
						+opacity(1)
				+at-breakpoint($phone)
					@include transition(all 1s)
					width: 90%
					right: 1em

				+at-breakpoint($pad)
					@include transition(all 1s)
					right: 1.5em
					width: auto		

			.main-intro-block
				+ft($ab, 998)
				/*+animate(bounceIn, 3s, 1s)*/
				top: 35%
				h1
					+ts($sb)
				p
					margin-top: 2.5em 
					color: $sw
					+font(1.4em, bold, italic)
					@include skewY(5deg)
				.main-paw
					+bg('paw.png', 'sign')
					@extend .str-to-img
					+wh(80px, 80px)
					@include rotate(15deg)
					z-index: -1
				.edit
					@include rotate(5deg)
				+at-breakpoint($phone)
					+span-columns(9)
					+isolate(1)
					text-align: center
					P
						font-size: 1.2em
					h1
						@include transition(font-size 1s)
						color: $sw
						+font(2.5em, bold)
						.main-paw
							margin-top: -0.9em
							margin-left: -0.2em
				+at-breakpoint($pad)
					+span-columns(12)
					+isolate(1)
					P
						font-size: 1.4m
					h1
						@include transition(font-size 1s)
						font-size: 3.5em
						.main-paw
							margin-top: -0.6em
							
				+at-breakpoint($pc)
					+span-columns(15)
					h1
						@include transition(font-size 1s)
						font-size: 4em
				.main-intro-menu
					margin-top: 3em
					.push
						+opacity(0.5)
					.right
						width: 0.3em
					+at-breakpoint($phone)
						width: 90%
						.button
							@include transition(all 0.5s)
							width: 100%
							margin-top: 0.7em
						.or
							display: none
					+at-breakpoint($pad)
						width: auto
						.button
							@include transition(all 0.5s)
							width: auto
							margin-top: 0em
						.or
							display: inline

			.main-add-in-block, .main-sign-in-block
				+ft($ab, 999)
				height: 100%
				display: none
				h3
					color: $sw
					+font(2em, bold)
					.remove
						@extend .po
						
				.closeMsg
					position: $ab
					z-index: 999
					float: right
					right: 0.4em
					top: 1.5em

				.segment
					width: 95%
					margin: 0 auto
					.error
						margin: 1em 0 0.2em 0
						width: 100%
						+ft($re, 999)
					+at-breakpoint($phone)
						@include transition(all 0.5s)
						margin-top: 1% 
						height: 30em
					+at-breakpoint($pad)
						@include transition(all 0.5s)
						margin-top: 10%
						height: auto
					
				.submit, .remove
					float: right

				.social-login .button
					text-align: center
					+at-breakpoint($phone)
						@include transition(all 0.5s)
						width: 100%
						margin-top: 1em
					+at-breakpoint($pad)
						@include transition(all 0.5s)
						width: 45%
						margin-top: auto
						margin-left: 0.9em

				+at-breakpoint($phone)
					@include transition(width 0.5s)
					width: 100%
				+at-breakpoint($pc)
					@include transition(width 0.5s)
					width: 35em
			
			.main-sign-in-block
				background: lighten($slb, 10%)
				h3
					background: darken($slb, 5%)

				.horizontal
					margin-top: 7em

				.submit
					background: lighten($slb, 10%)
					&:hover
						background: darken($slb, 5%)

			.main-add-in-block
				/*display: inline*/
				background: lighten($slr, 10%)
				h3	
					background: darken($slr, 5%)

				.horizontal
					+at-breakpoint($phone)
						@include transition(margin 0.5s)
						margin-top: 1.5em
					+at-breakpoint($pad)
						@include transition(margin 0.5s)
						margin-top: 5em

				.submit
					background: lighten($slr, 10%)
					&:hover
						background: darken($slr, 5%)




				




					


										

						