
html
	+wh(100%, 100%)
	+ft($ab)
	body
		margin: 0 auto
		+ft($re)
		+wh(100%, 100%)
		overflow-x: hidden
		+susy-grid-background
		background: darken($sdy, 10%)
		a 
			outline: none
			text-decoration: none
			color: $sb
			behavior: expression(this.onFocus=this.blur())
			&:hover
				text-decoration: none
		
		.hide-title
			display: none

		.container
			width: 105%
			+at-breakpoint($phone)
				+container
				+span-columns(9)
			+at-breakpoint($pad)
				+container
				+span-columns(12)
			+at-breakpoint($pc)
				+container
				+span-columns(15)

			.fullscreen-mask
				background-color: #141414
				@include transition(opacity 1s)
				@extend .str-to-img
				+wh(100%, 100%)
				+opacity(0.1)
				+ft($ab, 996)

			.change-mask
				+opacity(0.5)
				z-index: 998

			.fullscreen-main
				+ft($ab, 1)
				+wh(100%, 100%)
				+animate(fadeIn)
				@extend .str-to-img
				@include transition(all 1s)
				background-color: $slb
				+at-breakpoint($phone)
					@include transition(background-image 1s)
					+bg('mainbg_phone.jpg', 'background/main')
				+at-breakpoint($pad)
					@include transition(background-image 1s)
					+bg('mainbg_pad.jpg', 'background/main')
				+at-breakpoint($pc)
					@include transition(background-image 1s)
					+bg('mainbg_pc.jpg', 'background/main')
				+at-breakpoint($bpc)
					background-size: 100%, 
				
			.search-block
				+ft($ab, 999)
				+wh(100%, 10em)
				background: $slp
				top: -10em
				display: none
				&:after
					+ft($ab, 999)
					top: 10em
					display: block
					content: ''
					+wh(100%, 0.3em)
					background-color: darken($slp, 30%)
				.remove
					+ft($ab, 999)
					right: 0
					@extend .po
				.search-inner-block
					height: 10em
					.search
						+ft($ab, 999)
						+at-breakpoint($phone)
							@include transition(margin 1s)
							margin-top: 3.5em
						+at-breakpoint($pad)
							@include transition(margin 1s)
							margin-top: 3em
					input
						+ft($re, 998)
						+radius(2em)
						@include transition(opacity 1s)
						+opacity(0.3)
						&:focus, &:active
							@include transition(opacity 1s)
							+opacity(1)
						+at-breakpoint($phone)
							top: 4em
						+at-breakpoint($pad)
							top: 3.5em
					+at-breakpoint($phone)
						@include transition(all 1s)
						width: 100%
						background: none

					+at-breakpoint($pad)
						@include transition(all 1s)
						width: 20em
						float: left
						background: darken($slp, 10%)

				.searchResult
					/*border: 1px solid red*/
					+wh(65em, 100%)
					+ft($re, 999)
					margin-left: 20em

			.main-header-nav-block
				+ft($ab, 998)
				left: -11em
				+wh(15em, auto)
				top: 4em
				header
					display: none
				.main-menu-msg
					@include rotate(-10deg)
					+ft($ab, 998)
					color: $sw
					top: 2.5em
					left: 12.5em
					background-color: none
					.icon
						font-size: 2em
						background: none
				ul 
					+wh(11em, 12.2em)
					background: lighten($sb, 20%)
					.mainMail
						padding-top: 0.5em
						font-style: italic
						margin: 0
						height: 2em
						background: lighten($sb, 20%)
						color: $sw
						font-size: 1.25em
						a
							margin-left: 0.3em
					li

						margin: 0em 0 0 0.1em
						border-top: #5B5B5B 1px solid
						a 
							color: darken($sw, 30%)
							.icon
								+radius(0.2em)
								color: $sw
								margin: 0.1em  0.2em 0.1em 0.2em
								width: 1.3em
						&:hover
							@include transition(all 1s)
							background: lighten($sb, 15%)
							a 
								color: $sw
				@media (max-height: 350px)
					@include transition(top 1s)
					top: 0em
				.main-menu
					+radius(0.5em, 'right')
					+wh(4em, 2.51em)
					float: right
					margin: 0.01em -0.005em 0 0
					background: lighten($sb, 20%)
					@extend .po
					.icon
						margin: 0.19em 0 0 0.3em
						color: $sw
					&:hover
						@include transition(all 1s)
						background: lighten($sb, 15%)
					@media (max-height: 350px)
						@include transition(top 1s)
						margin-top: 0em

			.main-intro-block
				+ft($ab, 997)
				h1
					+ts($sb 1px 1px 1px)
				h2
					margin-top: 2.5em 
					color: $sw
					+font(1.4em, bold, italic)
					@include skewY(5deg)
				.main-paw
					+bg('paw.png', 'sign')
					@extend .str-to-img
					+wh(80px, 80px)
					@include rotate(15deg)
					z-index: -1
				.edit
					@include rotate(5deg)
				+at-breakpoint($phone)
					+span-columns(9)
					+isolate(1)
					top: 35%
					text-align: center
					P
						font-size: 1.2em
					h1
						@include transition(font-size 1s)
						color: $sw
						+font(2.5em, bold)
						.main-paw
							margin-top: -0.9em
							margin-left: -0.2em
				+at-breakpoint($pad)
					+animate(fadeInUp, 1s, 1s)
					+span-columns(12)
					+isolate(1)
					top: 41%
					P
						font-size: 1.4m
					h1
						@include transition(font-size 1s)
						font-size: 3.5em
						.main-paw
							margin-top: -0.6em
							
				+at-breakpoint($pc)
					+span-columns(15)
					h1
						@include transition(font-size 1s)
						font-size: 4em

				@media (max-height: 350px)
					@include transition(top 1s)
					top: 22%
				.main-intro-menu
					margin-top: 1.5em
					.push
						+opacity(0.5)
					.right
						width: 0.3em
					+at-breakpoint($phone)
						width: 90%
						.button
							@include transition(all 0.5s)
							width: 100%
							margin-top: 0.7em
						.or
							display: none
					+at-breakpoint($pad)
						width: auto
						.button
							@include transition(all 0.5s)
							width: auto
							margin-top: 0em
						.or
							display: inline

			.main-add-in-block, .main-sign-in-block
				+ft($ab, 999)
				height: 100%
				display: none
				overflow-x: hidden
				h5
					color: $sw
					+font(2em, bold)
					.remove
						@extend .po

				.formBgImg
					+wh(95%, 25%)
					margin: 1em auto 0 auto
					ul li
						width: 33%
						float: left
						div
							text-align: center
							margin: 0 auto
					+at-breakpoint($phone)
						display: none
					+at-breakpoint($pad)
						display: block
						
				.closeMsg
					position: $ab
					z-index: 999
					float: right
					right: 0.4em
					top: 1.5em

				.segment
					width: 95%
					margin: 0 auto
					.error
						margin: 1em 0 0.2em 0
						width: 100%
						+ft($re, 999)
					+at-breakpoint($phone)
						@include transition(all 0.5s)
						margin-top: 1% 
						height: 30em
					+at-breakpoint($pad)
						@include transition(all 0.5s)
						margin-top: 5%
						height: auto
					
				.submit, .remove
					float: right

				.social-login .button
					text-align: center
					+at-breakpoint($phone)
						@include transition(all 0.5s)
						width: 100%
						margin-top: 1em
					+at-breakpoint($pad)
						@include transition(all 0.5s)
						width: 45%
						margin-top: auto
						margin-left: 0.9em

				+at-breakpoint($phone)
					@include transition(width 0.5s)
					width: 100%
				+at-breakpoint($pc)
					@include transition(width 0.5s)
					width: 30em
			
			.main-sign-in-block
				background: lighten($slb, 10%)
				h5
					background: darken($slb, 5%)

				.loginBgImg_1, .loginBgImg_2, .loginBgImg_3
					+bg('result.png', 'background/form')
					+wh(150px, 150px)
					border: 0.3em solid $sw
					+radius(2em)
				.loginBgImg_1
					+animate(fadeInLeftBig, 1s, 0s)
					background-position: 0px -480px
				.loginBgImg_2
					+animate(fadeInDown, 1s, 0s)
					background-position: 0px -640px
				.loginBgImg_3
					+animate(fadeInRightBig, 1s, 0s)
					background-position: 0px -800px

				.horizontal
					margin-top: 7em

				.submit
					background: lighten($slb, 10%)
					&:hover
						background: darken($slb, 5%)

			.main-add-in-block
				background: lighten($slr, 10%)
				h5	
					background: darken($slr, 5%)

				.addBgImg_1, .addBgImg_2, .addBgImg_3
					+bg('result.png', 'background/form')
					+wh(150px, 150px)
					border: 0.3em solid $sw
					+radius(5em)

				.addBgImg_1
					+animate(fadeInLeftBig, 1s, 0s)
					background-position: 0px -0px
				.addBgImg_2
					+animate(fadeInDown, 1s, 0s)
					background-position: 0px -160px
				.addBgImg_3
					+animate(fadeInRightBig, 1s, 0s)
					background-position: 0px -320px
							
				.horizontal
					+at-breakpoint($phone)
						@include transition(margin 0.5s)
						margin-top: 1.5em
					+at-breakpoint($pad)
						@include transition(margin 0.5s)
						margin-top: 2em

				.submit
					background: lighten($slr, 10%)
					&:hover
						background: darken($slr, 5%)

			.site-Menu-Block
				+ft($fi, 999)
				height: 3.8em
				color: lighten($sb, 20%)
				overflow-x: hidden
				+at-breakpoint($pad)
					@include transition(width 0.5s)
					width: 3em
				+at-breakpoint($pc)
					@include transition(width 0.5s)
					width: 3em
					&:hover
						width: 8em
				@media (max-height: 750px)
					@include transition(width 0.5s)
					width: 3em

				.site-Menu
					color: #FDFBF5
					padding: 0.5em 0 0.5em 0
					@extend .po
				p
					color: #FDFBF5
					+font(1em, bold)
					width: 4em
					margin: -0.7em 0 0 3em

			.site-Menu-Content
				overflow-x: hidden
				background: lighten($sb, 20%)
				border-top: #5B5B5B 1px solid
				h5
					@include box-shadow(lighten($sgy, 10%) 1px 1px 1px)
					+wh(100%, 1.5em)
					background: #e6a12b
					color: $sw
					+font(1.5em, bold)
					padding: 0.8em 0 0 1em
					i
						margin-top: -0.15em
						color: $sw
						background: none
				ul 
					li
						border-top: #5B5B5B 1px solid
						a 
							color: darken($sw, 30%)
						.member
							+radius(5em)
							@extend .str-to-img
						p
							margin-left: 3.05em
						.search
							margin: 0 0.35em 0 0.2em
						&:hover
							@include transition(all 0.5s)
							background: lighten($sb, 15%)
							border-left: 5px solid $sw
							a
								color: $sw
					.menuShow
						background: lighten($sb, 15%)
						a
							color: #e6a12b
						&:hover
							a
								color: #e6a12b

				+at-breakpoint($phone)
					ul li
						padding: 1em
						.member
							+bg('default_phone.jpg', 'member/asidebar')
							+wh(30px, 30px)
							margin: -0.2em 0 0 0.2em

				+at-breakpoint($pad)
					ul li
						font-size: 1.5em
						.member
							+bg('default_pad.jpg', 'member/asidebar')
							+wh(40px, 40px)
							margin-top: -0.4em
				+at-breakpoint($pc)
					ul li
						.member
							+bg('default_pc.jpg', 'member/asidebar')
							+wh(50px, 50px)
							margin: -0.5em 0 0 0

				@media (max-height: 750px)
					ul li
						font-size: 1em
						padding: 0.8em
						.member
							+bg('default_phone.jpg', 'member/asidebar')
							+wh(30px, 30px)
							margin: -0.2em 0 0 0.2em

				@media (max-height: 500px)
					ul li
						font-size: 0.8em
						padding: 0.6em 


			.home-content-block
				+ft($fi)
				+wh(105%, 100%)
				text-align: center
				+ts(lighten($sb, 20%) 1px 1px 1px)
				color: lighten($sb, 40%)
				background: #FDFBF5
				h1
					color: #FDFBF5
					background: #a64818
					/*+opacity(0.5)*/
					@include box-shadow(lighten($sb, 10%) 1px 0px 1px)
					i
						+font(1em, bold)
					+at-breakpoint($phone)
						+font(0.9em, bold)
						padding: 1.5em 0.5em 1.5em 0em
						height: 1em
					+at-breakpoint($pad)
						+font(1.5em, bold)
						padding: 0.8em 1em 0.96em 1em
						height: 0.6em
					.home-paw
						+bg('s_paw.png', 'sign')
						@extend .str-to-img
						+wh(70px, 70px)
						@include rotate(15deg)
						margin-top: -0.5em

			.dashboard-out-block
				+wh(100%, 100%)
				.dashboard-inner-block
					height: 100%
					margin: 0 auto
					h1
						+ft($re, 999)
						a
							color: darken($sgy, 5%)
							@include text-shadow($sw 1px 1px 1px)
						.dashboard-paw
							@extend .str-to-img
							margin-left: -2.3em
							@include rotate(10deg)
						&:hover
							a
								@include transition(color 1s)
								color: darken($sgy, 20%)
							.dashboard-paw
								@include rotate(0deg)
					.menu-Set
						+ft($ab)
						top: 3.2em
						width: 2.5em
						.reorder
							color: lighten($sgy, 10%)
						.mobile-Menu
							+ft($ab, 999)
							top: 6.5em
							display: none
							width: 12em
							margin-top: -4em
							ul
								li 
									padding: 0.5em 0 0.5em 0
									margin: 0 auto
									width: 90%
									background: #66CDAA
									text-align: center
									border-top: $sw 1px solid
									a
										+font(1em, bold)
										color: $sw
									&:hover
										background: darken(#66CDAA, 10%)
										.select-nipple
											+tle('top', darken(#66CDAA, 10%), 12px, 15px)
								li:nth-child(1)
									border: 0
									+radius(1em, top)
								.select-nipple
									+ft($ab)
									width: 100%
									+tle('top', #66CDAA, 12px, 15px)
									margin-top: -1em

								li:nth-last-child(1)
									+radius(1em, bottom)

					.nromal-Menu ul
						+ft($re, 997)
						top: 2em
						li
							float: right
							i
								color: lighten($sgy, 20%)
								&:hover
									@include transition(color 0.5s)
									color: $sgy

							.select-nipple
								display: none
								+tle('top', darken($sdy, 20%), 12px, 15px)
								margin: 0.2em 0 0 0.5em

					+at-breakpoint($phone)
						@include transition(all 0.5s)
						width: 100%
						h1
							width: 3.5em
							+font(1.5em, bold)
							top: 1.5em
							left: 3.7em
							.dashboard-paw
								+bg('s_paw.png', 'sign')
								margin-top: -0.7em
								+wh(50px, 50px)
						.menu-Set
							margin: -1.4em 0 0 75%
							.mobile-Menu
								margin-left: -8em
								ul
									li:nth-child(1)
										.select-nipple
											right: 16.5%
						.nromal-Menu 
							display: none

					+at-breakpoint($pad)
						@include transition(all 0.5s)
						width: 90%
						h1
							top: 2em
							width: 3.5em
							font-size: 1.8em
							.dashboard-paw
								+bg('paw.png', 'sign')
								margin-top: -1.2em
								+wh(70px, 70px)
						.menu-Set
							margin-top: 0.2em
							.mobile-Menu
								margin-left: -8.5em
								ul
									li:nth-child(1)
										.select-nipple
											right: 12%
						.nromal-Menu ul 
							width: 75%

					+at-breakpoint($pc)
						@include transition(all 0.5s)
						width: 80%
						h1
							font-size: 2em
						.menu-Set
							display: none

						.nromal-Menu 
							display: inline
							ul
								width: 100%
								right: 4em
								.nowShow
									i
										color: $sb
										&:hover
											color: $sb
									.select-nipple
										display: block
						.mobile-Menu
							dispaly: none

					.dashboard-inner-content					
						+ft($re)
						margin: 0 auto
						+wh(90%, 40em)
						+radius(2em)
						background: darken($sdy, 10%)
						+gt(darken($sdy, 20%), darken($sdy, 15%), darken($sdy, 10%))
						h4, h5
							display: none

						+at-breakpoint($phone)
							@include transition(all 0.5s)
							margin-top: 2.5em
							.dashboard-myPhoto-block .contend
								width: 100%
								button
									font-size: 0.5em
									i
										display: none
						+at-breakpoint($pad)
							@include transition(all 0.5s)
							margin-top: 5em
							.dashboard-myPhoto-block .contend
								width: 48%
								button
									font-size: 1em
									i
										display: inline
						+at-breakpoint($pc)
							@include transition(all 0.5s)
							.dashboard-myPhoto-block .contend
								width: 32%


						.dashboard-myPhoto-block
							+wh(95%, auto)
							+ft($re)
							top: 1.5em
							margin: 0 auto
							color: $sgy
							.contend
								border: 2px solid $sw
								background-color: $sw
								float: left
								button
									display: block
									margin-bottom: 1em
									float: right
								img
									+wh(100%, auto)
							button
								+radius(2em)
							p
								margin-top: 1em

						.dashboard-share-photo-block1
							+ft($re)
							top: 1em
							width: 95%
							margin: 0 auto
							text-align: center
							textarea
								font-family:  DFKai-sb
							.share-info-input
								padding-top: 0.5em
								textarea, input
									+wh(100%, auto)
								input
									font-family:  DFKai-sb
							.error
								margin: 0.5em auto 0.5em auto
								text-align: left
							.photo-file-block
								+radius(1em)
								+wh(100%, 8em)
								margin-bottom: 0.5em
								background: lighten($sgy, 40%)
								border: 2.5px dashed lighten($sgy, 20%)
								+opacity(0.8)
								&:hover
									@include transition(all 0.5s)
									border-color: $sgy
									+opacity(0.9)
									.share-file-info
										+ts(none)
								i
									color: $sgy
									margin-left: 0.2em
								.share-file-info
									+ts($sw 1px 1px 1px)
									color: $sgy
									font-weight: bold
								.progress
									display: none
									height: 1.3em
									padding: 0
									background: none
									border: 0
									.bar
										width: 50%
								.share-error
									font-size: 0.8em
									color: darken($sr, 20%)
									i
										color: darken($sr, 20%)
								.photo-file-mask
									+radius(1em)
									+ft($re, 999)
									+wh(100%, 8.1em)
									background: $sb
									+opacity(0.6)
									color: $sw
									p
										font-size: 1.2em
										font-weight: bold
										+ft($re)
										top: 40%

							.share-pic-img
								@extend .po
								+ft($re, 998)
								+opacity(0)
								+wh(99.5%, 9.2em)
							.photo-preview-block
								+wh(100%, auto)
								img
									max-height: 50%
									+radius(0.5em)
									@include box-shadow($sgy 1px 0 5px)
								.pet-type
									.text
										width: 9em
									.menu
										width: 13em
										border: 1em solid lighten(#0AA5DF, 10%)
										margin: 1.5em 0 0 -2em
										+radius(0.2em)
										.item
											float: left
											width: 33%
											text-align: center
											font-size: 0.9em
										.select-nipple
											+ft($ab)
											margin-top: -2.3em
											+wh(0, 0)
											border-style: solid
											border-width: 0 0 20px 20px
											border-color: transparent transparent lighten(#0AA5DF, 10%) transparent
										.pet-inner-menu
											height: 12em
											overflow-x: hidden
											overflow-y: auto

							+at-breakpoint($phone)
								i
									margin-top: -6.5em
								.share-file-info
									margin-top: -6.2em
								.photo-file-mask
									margin-top: -9.3em
								.photo-preview-block
									text-align: center
									img
										width: 90%
									.pet-type
										float: none
										.menu .select-nipple
											margin-left: 9.1em
								.button
									font-size: 0.7em
							+at-breakpoint($pad)
								i
									margin-top: -3.8em
								.share-file-info
									margin-top: -3.5em
								.photo-file-mask
									margin-top: -6.5em
								.button
									font-size: 1em
									margin-bottom: 0.5em
								.photo-preview-block
									.pet-type
										.menu .select-nipple
											margin-left: 13.3em
							+at-breakpoint($pc)
								i
									margin-top: -5.2em
								.share-file-info
									margin-top: -5em
								.photo-file-mask
									margin-top: -7.8em
								.photo-preview-block
									text-align: left
									img
										float: left
										width: 50%
									.pet-type
										float: right

						.dashboard-share-photo-block
							+ft($re)
							top: 1.2em
							width: 90%
							margin: 0 auto
							text-align: center
							overflow: hidden
							h5
								+ts($sw 1px 0px 1px)
								display: block
							.share-photo-warp
								top: 0
								+ft($re)
							.share-list
								width: 99.7%
								input, textarea
									color
									border: 0
									text-align: center
									background-color: darken(#FDFBF5, 15%)
									color: $sgy
								textarea
									text-align: left
							.shareDirectSet
								+ft($ab)
								+wh(99.7%, auto)
								.button
									height: 2.3em
								.right
									float: right
								.left
									float: left
						
							.share-steps-block
								+ft($ab)
								bottom: 0
								right: 0
								ol 
									li
										@include transition(all 0.5s)
										margin: 2.5em 4px 1em 4px
										color: $sw
										font-weight: bold
										text-align: center
										background-color: $slb
										+wh(2em, 2em)
										float: left
										display: block
										line-height: 2em
										+radius(1em)
								.nowStep
									@include transition(all 0.5s)
									font-size: 1.5em
									margin-top: 1em
							.pet-type
								margin-top: -2em
								.button
									background-color: #4C4C4C
									+radius(0)
									.text
										width: 15em
									.menu
										background-color: #4C4C4C
										overflow-y: hidden
										+radius(1em, bottom)
										.item
											color: $sw
											float: left
											text-align: center
											font-size: 0.9em
											&:hover
												background-color: $sw
												color: #4C4C4C
							.photo-file-block
								+radius(1em)
								margin: -2em auto 0 auto
								background: lighten($sgy, 40%)
								border: 2.5px dashed lighten($sgy, 20%)
								+opacity(0.8)
								&:hover
									@include transition(all 0.5s)
									border-color: $sgy
									+opacity(0.9)
									.share-file-info
										+ts(none)
								i
									color: $sgy
									margin-left: 0.2em
								.share-file-info
									+ts($sw 1px 1px 1px)
									color: $sgy
									font-weight: bold
								.share-pic-img
									@extend .po
									+ft($re, 998)
									+opacity(0)
									+wh(99.5%, 9.2em)
								.share-error
									color: $sr

							.progress
								display: none
								height: 2em
								padding: 0
								background: none
								border: 0
								.bar
									width: 50%
							.photo-preview-block
								margin: -2em auto 0 auto
								img
									+radius(0.2em)
									@include box-shadow($sgy 1px 0 5px)
								.button
									+ft($ab)
									float: right

							+at-breakpoint($phone)
								@include transition(height 0.5s)
								height: 22em
								h5
									@include transition(all 0.5s)
									margin: 1em 0 1em 0
									font-size: 1.5em
								.share-list
									@include transition(all 0.5s)
									height: 19.8em
									.share-photo-name
										input
											font-size: 2em
									.share-photo-description
										textarea
											font-size: 0.8em
											height: 2em
								.pet-type
									margin-top: 0
									.button .menu .item
										width: 24%
								.shareDirectSet
									margin-top: 7.5em
									.button
										font-size: 0.8em
								i
									margin-top: -6.5em
								.photo-file-block
									width: 90%
									margin-top: 2em
									.share-file-info
										margin-top: -6.5em
										font-size: 0.8em
								.photo-preview-block
									margin-top: -1em
									img
										+wh(8em, 8em)
									.button
										font-size: 0.5em

							+at-breakpoint($pad)
								@include transition(height 0.5s)
								height: 35em
								h5
									@include transition(all 0.5s)
									margin: 1em 0 1.5em 0
									font-size: 2.3em
								.share-list
									@include transition(all 0.5s)
									height: 30.8em
									.share-photo-name
										input
											font-size: 3.5em
									.share-photo-description
										textarea
											font-size: 1.8em
								.shareDirectSet
									margin-top: 13.2em
									.button
										font-size: 1.5em

								.pet-type
									margin-top: -1em
									.button .menu .item
										width: 33%
								i
									margin-top: -4.8em
								.photo-file-block
									width: 80%
									.share-file-info
										margin-top: -4.8em
								.photo-preview-block
									margin-top: -1em
									img
										+wh(13em, 13em)
									.button
										font-size: 1em

							+at-breakpoint($pc)
								@include transition(height 0.5s)
								height: 39em
								h5
									@include transition(all 0.5s)
									margin: 1em 0 2em 0
									font-size: 3em
								.share-list
									@include transition(all 0.5s)
									height: 38.8em
									.share-photo-name
										input
											font-size: 5em
									.share-photo-description
										textarea
											font-size: 2.2em
								.shareDirectSet
									margin-top: 15em
									.button
										font-size: 2em
								.pet-type
									margin-top: -2em
								i
									margin-top: -5.2em
								.photo-file-block
									width: 50%
									height: 8em
									.share-file-info
										margin-top: -5em
										font-size: 1em
								.photo-preview-block
									margin-top: -3em
									img
										+wh(20em, 20em)

						.dashboard-inner-left-block, .dashboard-inner-right-block
							margin-top: 2em
						
						.dashboard-inner-left-block
							+wh(68%, auto)
							float: left
						.dashboard-inner-right-block
							+ft($re)
							float: right
							+wh(30%, auto)

							ul
								li:nth-child(1)
									text-align: center
									border-top: 0
									&:hover
										background: none
								li
									color: $sgy
									padding: 1em 0
									font-weight: bold
									border-top: 0.2em solid darken(#FDFBF5, 12%)
									&:hover
										@include transition(all 0.5s)
										background: darken(#FDFBF5, 20%)
										a
											color: darken($sgy, 15%)
										.right-icon
											color: $sw
									a
										color: $sgy
										p
											font-size: 0.8em
									.search
										margin: 0 0.4em 0 0.2em
									.right-icon
										float: right
										margin-right: 0.3em

							+at-breakpoint($phone)
								ul
									li
										text-align: center
										a > span, a > p
											display: none
										.right-icon
											display: none
										.avatar
											@include transition(all 0.5s)
											+radius(0.5em)
											+wh(3em, 3em)

							+at-breakpoint($pad)
								ul
									li	
										font-size: 0.9em
										a > span
											display: inline
										a > p
											display: block
										.avatar
											@include transition(all 0.5s)
											+radius(1em)
											+wh(5em, 5em)

							+at-breakpoint($pc)
								ul
									li
										font-size: 1em
										.right-icon
											display: inline
										.avatar
											@include transition(all 0.5s)
											+wh(5em, 5em)
						


						