<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="author" content="Chiang" />
	     <meta name="keywords" content="寵物 動物 分享 紀錄 可愛 俏皮 模樣" />
	     <meta name="description" content="" />

	     <link rel="shortcut icon" href="/static/img/icon/pawicon.ico" />
		<link rel="stylesheet" href="/static/sass/css/screen.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/javascript/semantic.min.js"></script>
		<script src="/static/js/jquery/plug.js"></script>
		<script src="/static/js/jquery/effect.js"></script>
		<script src="/static/js/angularjs/controller.js"></script>
		<script src="/static/js/angularjs/directive.js"></script>

		<!--[if lte IE 8]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="//airve.github.io/js/response/response.min.js"></script>
		<![endif]-->
		
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body ng-app="MyApp">
		<div class = "win-size" style="position:fixed; margin:0 auto; color:red; z-index:999;">			
		</div>
		
		<div class="container">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}
			<footer></footer>
		{% endblock %}

		{% block loadjs %}{% endblock %}
	</body>
</html>