
{% extends "base.html" %}

{% block title %}爪爪窩 分享與紀錄寵物的俏皮模樣{% endblock %}

{% block content %} 
	<div class="ui icon input  search-block" >
	  	<input type="text" placeholder="搜尋有興趣的寵物..." >
	  	<i class="search icon"></i>
	</div>

	<div class="main-intro-block">
		<section>
			<header><h1>爪爪窩 ...<i class="pencil icon"></i></h1></header>
			<p>分享與紀錄寵物的俏皮模樣</p>
			<div class="ui huge buttons main-intro-menu">
			 	<div class="ui orange  button"><i class="add icon"></i>飼主申請</div>
			 	<span class="or"></span>
			 	<div class="ui green button"><i class="signup icon"></i>飼主登入</div>
			</div>
		</section>
	</div>

	<div class="fullscreen-main">main background</div>
{% endblock %}

{% block loadjs %}
<script>
	 $jq(window).load(function(){
		{{load}}();
	});
</script>
{% endblock %}




