{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{topTitle}}{% endblock %}

{% block content %} 

	
	<!-- include aside bar content -->
	{% include "asideBar/asideBar.html" with nowPage='categoriesPage' %}

	<div class="home-content-block" ng-controller="category-content-block">
		<section>
			<header>
				<h1>{{topTitle}}<span class="home-paw">cutepaw</span>
				{% if request.session.user%}
					<div class="headerPhoto">
						<a href="/dashboard/{{request.session.user}}"><img src="/static/img/member/header/{{request.session.user_pic}}" title="{{request.session.user}}"></a>
					</div>
				{% endif %}
				</h1>
			</header>

			<div class="home-category-block">
				<section>
					<hgroup>
						<h2>瀏覽不同種類的寵物</h2>
						<h3>藉由俏皮模樣讓心情愉悅</h3>
					</hgroup>
				</section>
				<div class=" home-category-inner-block">
					<div class="ui items">
					{% for value in photosQuery %}
						<div class="item">
								<div class="image">
								<a href="viewPhoto/type/{{value.photo_type}}"><img src="/static/img/category/{{value.photo_type}}.jpg"></a>
							</div>
							<div class="content">
								<div class="name">{{value.photo_type}}</div>
								<div class="extra">累積：<%{{value.photo_type_total}} | number%>張</div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>

		</section>		
	</div>

{% endblock %}

