{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{topTitle}}{% endblock %}

{% block content %} 

	
	<!-- include aside bar content -->
	{% include "asideBar/asideBar.html" with nowPage='categoriesPage' %}

	<div class="home-content-block" ng-controller="new-content-block">
		<section>
			<header>
				<h1>{{topTitle}}<span class="home-paw">cutepaw</span>
				{% if request.session.user%}
					<div class="headerPhoto">
						<a href="/dashboard/{{request.session.user}}"><img src="/static/img/member/header/{{request.session.user_pic}}" title="{{request.session.user}}"></a>
					</div>
				{% endif %}
				</h1>
			</header>

		</section>		
	</div>

{% endblock %}

