{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - {{topTitle}}{% endblock %}

{% block title %}爪爪窩 - {{topTitle}}{% endblock %}

{% block content %} 

{% load helper %}

	
	<!-- include aside bar content -->
	{% include "asideBar/asideBar.html" with nowPage='newPage' %}

	<div class="home-content-block" ng-controller="view-content-block">
		<section>
			<header>
				<h1>{{topTitle}}<span class="home-paw">cutepaw</span>
				{% if request.session.user%}
					<div class="headerPhoto">
						<a href="/dashboard/{{request.session.user}}"><img src="/static/img/member/header/{{request.session.user_pic}}" title="{{request.session.user}}"></a>
					</div>
				{% endif %}
				</h1>
			</header>
			{% if photosQuery %}
				<div class="home-view-block">
					<div class="home-view-display-set">
						<div id="<%photoShow%>" class="small ui buttons" data-item-menu="itemMenuShow">
							<button class="ui black button waterfall" ng-click="waterfall()" title="瀑布模式顯示"><i class="bookmark big icon"></i></button>
							<button class="ui black button multiple" ng-click="itemList='multiple';itemMenuShow='multiple'" title="多圖模式顯示"><i class="grid layout big icon"></i></button>
							<button class="ui black button single" ng-click="itemList='single';itemMenuShow='single'" title="大圖模式顯示"><i class="resize full big icon"></i></button>
							<button class="ui black button little" ng-click="itemList='little';itemMenuShow='little'" title="小圖模式顯示"><i class="resize small big icon"></i></button>
							<button class="ui <%shadowButton%> button" ng-click="shadow()" title="<%shadowTitle%>"><i class="<%shadowIcon%> big icon"></i></button>
							<button class="ui black button" ng-click="itemList='new'" title="依時間排序" ng-show="{{order}}"><i class="time blue small big icon"></i></button>
							<button class="ui black button" ng-click="itemList='popular'" title="依喜歡排序" ng-hide="{{order}}"><i class="heart red small big icon"></i></button>
						</div>
					</div>
					<div class="home-view-inner-block" id="<%shadowSet%>" data-window-scroll>
					{% for value in photosQuery %}
						<div class="item" data-item-display="itemList">
							<div class="owner" ng-hide="littleHide">
					    			<a href=""><img class="own-img" src="/static/img/member/photo/{{value.pic}}" title="{{value.account}}"></a>
					    			<span>{{value.photo_pet_name|slice:10}}</span>
					    		</div>
							<div class="image <%shadowClass%>">
						     		<a href=""><img class="photo-img" src="{{value.photo_filename | checkImg:'big'}}" alt="{{value.photo_pet_name}}"></a>
						    	</div>
						    	<div class="content" ng-hide="littleHide">
						    		<div class="menu">
						    			<button class="love" id="{{value.pid}}" title="喜歡這張照片" ng-click="addLove({{value.pid}});love{{value.pid}}=true" ng-disabled="love{{value.pid}}">
						    				<i class="heart red  icon"></i>
						    				<p class="love{{value.pid}}">{{value.photo_love}}</p>
						    			</button>
						    			<button class="comments" title="瀏覽相關評論" >
						    				<a href=""><i class="chat blue icon"></i></a>
						    				<p>{{value.photo_comment}}</p>
						    			</button>
						    		</div>
							</div>
						</div>
					{% endfor %}
					{% csrf_token %}
					</div>
				</div>
			{% else %}
				目前尚未有任何圖片
			{% endif %}
		</section>		
	</div>

{% endblock %}

