
{% extends "base/base.html" %}

{% block fb_title  %}爪爪窩 - 分享&紀錄寵物的俏皮模樣{% endblock %}

{% block title %}爪爪窩 - 分享&紀錄寵物的俏皮模樣{% endblock %}

{% block content %} 
<div ng-controller="main-index-block">
	<header>
		<div class="main-header-nav-block">
			<nav>
				<header><h4>首頁選單</h4></header>
				<span class="main-menu"><i class=" reorder big icon" title="首頁選單" ng-click="mailShow=false"></i></span>
				<ul>
					<li><a href="/home"><i class=" home big icon" title="爪窩首頁"></i>爪窩首頁</a></li>
					<li><a href="javascript: void(0)" class="search-button" ng-click="searchSubject.pushSearch()"><i class=" search big icon" title="搜尋寵物"></i>搜尋寵物</a></li>
					<li><a href="/share"><i class=" photo big icon" title="分享寵物"></i>分享寵物</a></li>
					<li><a href="/about"><i class=" info big icon" title="關於爪爪"></i>關於爪爪</a></li>
					<li><a href="javascript: void(0)" ng-click="mail()"><i class=" mail big icon" title="聯絡我們"></i>聯絡我們</a></li>
					<li ng-show="mailShow" class="mainMail" >
						<address>
							<a href="mailto:cutepaw@paw.com">cutepaw@paw.com</a>
						</address>
					</li>
				</ul>	
			</nav>
			<p class="main-menu-msg"><i class="hand up big icon" title="選單">~</i></p>
		</div>
	</header>

	<div class="search-block">
		<aside>
			<i class="search-close purple remove sign big icon" title="關閉"></i>
			<div class="ui icon input  search-inner-block" >
				<i class="search icon"></i>
			  	<input 
			  		type="text" 
			  		data-my-focus="inputFocus" 
			  		name = "subject"
			  		ng-model = "searchSubject.petName"
			  		placeholder="搜尋有興趣的寵物..." 
			  	/>
			</div>
			<div class="searchResult">
				目前尚未搜尋任何寵物主題...
			</div>
		</aside>
	</div>

	<div class="main-intro-block">
		<section>
			<header>
				<hgroup>
					<h1>爪爪窩<span class="main-paw">cutepaw</span></h1>
					<h2>分享&紀錄寵物的俏皮模樣 <i class="ui edit icon">...</i></h2>
				</hgroup>
			</header>
			<div class="ui huge buttons main-intro-menu" >
			 	<button ng-click="joinMember.pushAddToggle()" class="ui red  button add-button <%joinMember.addChange%>" ><i class="hand left icon"></i> 飼主申請</button>
			 	<span class="or"></span>
			 	<button ng-click="loginMember.pushLoginToggle()" class="ui blue button login-button <%loginMember.loginChange%>" >飼主登入<i class="hand right icon"></i></button>
			</div>
		</section>
	</div>

	<div class="main-sign-in-block" >
		<section>
			<header>
				<h5><i class="sign in icon"></i>飼主登入<i class="main-member remove sign icon" title="關閉"></i></h5>
			</header>
			<form name="loginForm" class="ui form segment"  ng-submit="loginMember.loginSend()">
			<div class="ui active inverted dimmer" ng-show="load">
					<p class="ui text loader">登入中,請稍候...</p>
				</div>
		  {% csrf_token %}
			<div class="field">
				<label>登入帳號</label>
			 	<div class="ui left labeled icon input">
				     <input 
				      	type = "text" 
				      	placeholder = "Username"
				      	name = "username"
				      	data-my-focus = "inputFocus" 
				      	ng-model = "loginMember.loginAccount"
				      	ng-pattern = "<% onlyStrAndNum %>"
				      	ng-keyup = "accountShow=true;loginForm.username.$setValidity('notExist', true);"
	        				required
				      />
				      <i class="user icon"></i>
				      <div class="ui corner label">
				     		<i class="icon asterisk"></i>
			      	</div>
			   	</div>
			</div>
	  		<div class="error" 
		        ng-show="accountShow && loginForm.username.$dirty && !loginForm.username.$valid">
			    <div class="ui red small message">
			        	<p ng-show="accountShow && loginForm.username.$error.required">
			        		<i class="icon info"></i>帳號不能是空值
			    		</p>
			    		<p ng-show="accountShow && loginForm.username.$error.pattern">
			         		<i class="icon info"></i>帳號只能是字母或數字
			     		</p>
			     		<p ng-show="accountShow && loginForm.username.$error.notExist">
			         		<i class="icon info"></i>查無此帳號,請重新輸入
			     		</p>
			     	</div>
		  	</div>
		  	<div class="field">
		   		<label>登入密碼</label>
		    		<div class="ui left labeled icon input">
			      	<input 
			      		type = "password" 
			      		placeholder = "password"
			      		name = "pwd"
			      		ng-model= "loginMember.loginPassword"
			      		ng-pattern = "<% onlyStrAndNum %>"
			      		ng-keyup = "pwdShow=true;loginForm.username.$setValidity('notExist', true);"
						required
			     		/>
			      	<i class="lock icon"></i>
			      	<div class="ui corner label">
			        		<i class="icon asterisk"></i>
		      		</div>
		    		</div>
		  	</div>
			<div class="error" 
			      ng-show="pwdShow && loginForm.pwd.$dirty && !loginForm.pwd.$valid">
				<div class="ui red small message">
				  	<p ng-show="pwdShow && loginForm.pwd.$error.required">
						<i class="icon info"></i>密碼不能是空值
					</p>
					<p ng-show="pwdShow && loginForm.pwd.$error.pattern">
						<i class="icon info"></i>密碼只能是字母或數字
					</p>
				</div>
			</div>
			<div class="ui error message">
			    <div class="header">We noticed some issues</div>
			</div>
			<button type="submit" class="ui blue submit button" ng-disabled="!loginForm.$valid">登入</button>
				<div class="ui horizontal divider">或使用</div>
				<div class="social-login">
					<div class="ui facebook button" ng-click="facebookLogin()"  title="使用臉書登入">
					  <i class="facebook icon"></i>FACEBOOK
					</div>
					<div class="ui google plus button" ng-click="googleLogin()" title="使用谷歌登入">
					  <i class="google plus icon"></i>GOOGLE 
					</div>
				</div>
			</form>
			<div class="formBgImg">
				<ul>
					<li><div class="loginBgImg_1">&nbsp;</div></li>
					<li><div class="loginBgImg_2">&nbsp;</div></li>
					<li><div class="loginBgImg_3">&nbsp;</div></li>
				</ul>
			</div>
		</section>

	</div>

	<div class="main-add-in-block" >
		<section>
			<header>
				<h5><i class="add  icon" ></i>飼主申請<i class="main-member remove sign  icon" title="關閉" ng-model="checked"></i></h5>
			</header>
			<form name="addForm" class="ui form segment" ng-submit="joinMember.addSend()">
			<div class="ui active inverted dimmer" ng-show="load">
					<p class="ui text loader">註冊中,請稍候...</p>
				 </div>
			  {% csrf_token %}
			  <div class="ui warning message">
			    <div class="header">Could you check something!</div>
			    <ul class="list">
			      <li>You forgot your <b>first name</b></li>
			      <li>And also your <b>last name</b></li>
			    </ul>
			  </div>
			  <div class="field">
			    <label><i class="user icon"></i> 飼主帳號</label>
			    <input 
			    		placeholder = "username" 
			    		type = "text" 
			    		name = "username"
			    		data-my-focus = "inputFocus"
			    		ng-model = "joinMember.addAccount"
			    		ng-pattern = "<% onlyStrAndNum %>"
			    		ng-minlength = 3 
    					ng-maxlength = 20 
    					ng-keyup = "accountShow=true;addForm.username.$setValidity('unique', true);"
    					required
			    	/>
			    <div class="error" 
			        ng-show="accountShow && addForm.username.$dirty && !addForm.username.$valid">
				    <div class="ui red small message">
				        	<span ng-show="accountShow && addForm.username.$error.required">
				        		<i class="icon info"></i>帳號不能是空值
				    		</span>
				    		<span ng-show="accountShow && addForm.username.$error.minlength">
				           	<i class="icon info"></i>帳號長度至少要超過3個字
				    		</span>
				   		<span ng-show="accountShow && addForm.username.$error.maxlength">
				           	<i class="icon info"></i>帳號長度不能超過20個字
				    		</span>
				    		<span ng-show="accountShow && addForm.username.$error.pattern">
				         		<i class="icon info"></i>帳號只能是字母或數字
				     		</span>
				     		<span ng-show="accountShow && addForm.username.$error.unique">
				         		<i class="icon info"></i>此帳號已存在,請另取一個
				     		</span>
				     	</div>
				</div>
			  </div>
			  <div class="field">
			    <label><i class="lock icon"></i>  登入密碼</label>
			    <input 
			    		placeholder = "password" 
			    		type = "password"
			    		name = "pwd"
			    		ng-model = "joinMember.addPassword"
			    		ng-pattern = "<% onlyStrAndNum %>"
			    		ng-minlength = 8 
    					ng-maxlength = 20 
    					ng-keyup = "pwdShow=true"
    					required
			    	/>
			  </div>
			  <div class="error" 
			        ng-show="pwdShow && addForm.pwd.$dirty && !addForm.pwd.$valid">
				    <div class="ui red small message">
				        	<p ng-show="pwdShow && addForm.pwd.$error.required">
				        		<i class="icon info"></i>密碼不能是空值
				   		</p>
				    		<p ng-show="pwdShow && addForm.pwd.$error.minlength">
				           	<i class="icon info"></i>密碼長度至少要超過8個字
				   		</p>
				   		<p ng-show="pwdShow && addForm.pwd.$error.maxlength">
				           	<i class="icon info"></i>密碼長度不能超過20個字
				    		</p>
				    		<p ng-show="pwdShow && addForm.pwd.$error.pattern">
				         		<i class="icon info"></i>密碼只能是字母或數字
				     		</p>
				  	</div>
			  </div>
			  <div class="field">
			    <label><i class="inbox icon"></i>  電子信箱</label>
			    <input 
			    		placeholder = "account@domain.com" 
			    		type = "email" 
			    		name = "eml"
			    		ng-model = "joinMember.addEmail"
			    		ng-keyup = "emlShow=true"
    					required
			    	/>
			  </div>
			  <div class="error" 
			        ng-show="emlShow && addForm.eml.$dirty && !addForm.eml.$valid">
				    <div class="ui red small message">
			    			<p ng-show="emlShow && addForm.eml.$error.required">
			        			<i class="icon info"></i>電子信箱不能是空值
			        		</p>
			    			<p ng-show="emlShow && addForm.eml.$invalid">
			    				<i class="icon info"></i>電子信箱格式錯誤
			    			</p>
				    	</div>
			  </div>

			 <div class="inline field">
			  	<div class="ui toggle checkbox" ng-click="joinMember.change()">
			  		<input class="add-eml" type="checkbox">
			  		<label><%joinMember.msg%></label>
			  	</div>
			  	<button type="submit" class="ui blue submit button" ng-show="joinMember.showAdd" ng-disabled="!addForm.$valid">申請</button>
			</div>
			<div class="ui horizontal divider">或使用</div>
			<div class="social-login">
				<div class="ui facebook button" ng-click="facebookLogin()" title="使用臉書註冊">
				  <i class="facebook icon" ></i>FACEBOOK
				</div>
				<div class="ui google plus button" ng-click="googleLogin()" title="使用谷歌註冊">
				  <i class="google plus icon"></i>GOOGLE 
				</div>
			</div>
			</form>

			<div class="formBgImg">
				<ul>
					<li><div class="addBgImg_1">&nbsp;</div></li>
					<li><div class="addBgImg_2">&nbsp;</div></li>
					<li><div class="addBgImg_3">&nbsp;</div></li>
				</ul>
			</div>
		</section>
	</div>

	<div class="fullscreen-main">main background</div>
	<div class="fullscreen-mask" data-my-mask="level">full mask</div>
</div>

{% endblock %}






